html {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: black;
}

h1 {
  color: white;
  font-size: 48px;
  text-align: center;
  font-weight: bold;
}

h2 {
  font-size: 38px;
  text-align: center;
}

h3 {
  font-size: 30px;
  text-align: center;
  font-weight: 500;
}
h4 {
  font-size: 26px;
  text-align: center;
  font-weight: 400;
}

h5 {
  padding: 5px 0px;
  font-size: 20px;
}

header {
  background-color:#2b303a;
  color: white;
  align-items: center;
}

.choixLangue > button {
  font-size: 20px;
}

.choixLangue {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px 0px 10px;
}

.choixLangue > div{
  display:flex;
  flex-direction: column;
}

li{
  font-size: 24px;
  padding: 10px;
  width: 40%;
  text-align: center;
  border-collapse: collapse;
  font-weight: 600;
}

ul {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  border-collapse: collapse;
}

p {
  font-size:18px;
}
nav {
  background-color: #f26340;
  width:100%;
}

/* POUR NAV DE L'INTRA */

.sous {
  display: none;
  background-color: #f26340;
}

nav > ul li:hover .sous {
  display: block;
}

.sous li {
  width: 100%;
  text-align: center;
}

.deroulant {
  width: 50%;
}
label {
  font-size:30px;
}

select {
  size:40px;
}
section {
  font-size: 24px;
  padding: 10px;
  text-align: justify;
}

.call {
  font-size: 40px;
  font-weight: bold;
  margin: 10px 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.centre {
  margin-top: 20px;
}

.association {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.association > img {
  width: 90%;
  height: auto;
  display: block;
  margin: auto;
  padding:20px 0px;
}

.accueilDeJour {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
.listeCentre {
  margin: 30px 0px;
}
.centre > h4 {
  margin-bottom: 20px;
}

.map > h4{
  margin-bottom: 20px;
}

.map > iframe {
  width: 100%;
  height: 400px;
}

button {
  border:3px solid black;
  background-color: white;
}


#goog-gt-tt {display:none;heigth:0px;}
.goog-te-banner-frame.skiptranslate {
    display: none !important;
    }
body {
    top: 0px !important;
    }

@media screen and (min-width: 786px) {
  h1 {
    font-size: 60px;
    padding-top:10px;
  }
  h4 {
    width:90%;
    padding:10px 0px;
  }
  header {
    height: 200px;
  }
  label{
    font-size: 50px;
    margin: 0 15px;
  }
  li {
    width: 15%;
    font-size: 30px;
  }

  .deroulant:hover {
    background-color: #f13d0e;
    transition: 0.5s;
  }

  .sousligne:hover {
    background-color: #f13d0e;
    padding-left: 0px;
  }
  button:hover {
    font-size:30px;
    color:#f26340;
    background-color: black;
    transition: 0.5s;
  }
  .call:hover {
    font-size: 50px;
  }

  .association {
    margin-top:20px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
  }
  .association > img{
    width: 30%;
    padding:40px;
  }

  .infoAssociation {
    width: 60%;
    padding-right:50px;
  }

  .accueilDeJour {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    margin-top: 20px;
    background-color: #EEE;
  }

  .listeCentre, .map {
    width: 40%;
  }

  #deco {
    heigth:200px;
    width:50px;
    background-color: #f26340;
  }

  .choixLangue > div {
    flex-direction: row;
    align-items: baseline;
  }


}
