html {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: black;
}

button a:hover{
  color: #f26340;
}
.greybutton {
  font-size:24px;
  background-color:#EEEEEE;
  margin-top:20px;
}
h1 {
  color: white;
  font-size: 48px;
  text-align: center;
  font-weight: bold;
}

h2 {
  font-size: 38px;
  text-align: center;
}

h3 {
  font-size: 30px;
  text-align: center;
  font-weight: 500;
}
h4 {
  font-size: 26px;
  text-align: center;
  font-weight: 400;
}

h5 {
  padding: 5px 0px;
  font-size: 20px;
}

header {
  background-color:#2b303a;
  color: white;
  align-items: center;
}

.choixLangue > button {
  font-size: 20px;
}

.choixLangue {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px 0px 10px;
}
.plusinfo {
  border:3px solid black;
  color:black;
  padding:15px;
  font-weight: bold;
  font-size:22px;
  text-align:center;
}
.plusinfo:hover {
  color: #f26340;
  background-color: black;
  transition: 0.5s;
}

.choixLangue > div{
  display:flex;
  flex-direction: column;
}

li{
  font-size: 24px;
  padding: 10px;
  width: 40%;
  text-align: center;
  border-collapse: collapse;
  font-weight: 600;
}

ul {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  border-collapse: collapse;
}

p {
  font-size:18px;
}
nav {
  background-color: #f26340;
  width:100%;
}

.connexion{
  font-size: 20px;
  color: white;
  padding:10px;
  border:3px solid white;
  font-weight: bold;
  margin-right:10px;
}

.connexion:hover{
  color: #f26340;
  background-color: white;
  transition: 0.5s;
}


/* POUR NAV DE L'INTRA */

.sous {
  display: none;
  background-color: #f26340;
}

nav > ul li:hover .sous {
  display: block;
  transition:0.5s;
}

.sous li {
  width: 100%;
  text-align: center;
}

select {
  size:40px;
}
section {
  font-size: 24px;
  padding: 10px;
  text-align: justify;
}

.call {
  font-size: 40px;
  font-weight: bold;
  margin: 10px 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding:10px;
}

.centre {
  margin-top: 20px;
}

.association {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.association > img {
  width: 90%;
  height: auto;
  display: block;
  margin: auto;
  padding:20px 0px;
}

.accueilDeJour {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
.listeCentre {
  margin: 30px 0px;
}
.centre > h4 {
  margin-bottom: 20px;
}

.map > h4{
  margin-bottom: 20px;
}

.map > iframe {
  width: 100%;
  height: 400px;
}

button {
  border:3px solid black;
  background-color:white;
}
.radio {
  display:flex;
  flex-direction:row;
  align-items:center;
}


#goog-gt-tt {display:none;heigth:0px;}
.goog-te-banner-frame.skiptranslate {
    display: none !important;
    }
body {
    top: 0px !important;
    }

@media screen and (min-width: 786px) {
  h1 {
    font-size: 60px;
    padding-top:10px;
  }
  h4 {
    width:90%;
    padding:10px 0px;
  }
  header {
    height: 200px;
  }
  li {
    width: 15%;
    font-size: 30px;
  }

  button:hover {
    color:#f26340;
    transition: 0.5s;
  }

  .association {
    margin-top:20px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color:#EEEEEE;
    padding:20px 20px;
    border-radius:20px;
    box-shadow:5px 5px 10px #CCCCCC;
  }
  .association > img{
    width: 30%;
    padding:40px;
  }

  .infoAssociation {
    width: 60%;
    padding-right:50px;
  }

  .accueilDeJour {
    flex-direction: row;
    align-items: top;
    justify-content: space-around;
    margin-top: 20px;
    background-color:#EEEEEE;
    padding:20px 20px;
    border-radius:20px;
    box-shadow:5px 5px 10px #CCCCCC;
    margin-bottom:50px;
  }

  .listeCentre, .map {
    width: 40%;
  }

  #deco {
    heigth:200px;
    width:50px;
    background-color: #f26340
  }

  .choixLangue > div {
    flex-direction: row;
    align-items: baseline;
    align-self: center;
  }

  .deco p {
    margin-right:20px;
    font-size:30px;
    font-weight: 400;
  }
  .row {
    display: flex;
    padding:20px;
    width:100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .row div {
    width:50%;
  }
  .row label, .row p, .row h3{
    font-size:26px;
    width:50%;
    text-align:left;
  }
  .row input {
    width:50%;
    font-size:26px;
  }

  input[type="file"] {
    padding-top:5px;
  }
  .center {
    display:flex;
    flex-direction:column;
    align-items:center;
  }
  td, th {
    padding:10px 20px;
    border:1px solid black
  }
  table {
    text-align:center;
    margin:10px auto;
  }
  .cart {
    text-align:center;
    background-color:#EEEEEE;
    padding:20px 20px;
    border-radius:20px;
    box-shadow:5px 5px 10px #CCCCCC;
    margin-bottom:20px;
  }

  .mesCentres {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    margin-top:20px;
  }
  .mesCentres .cart h3 {
    padding:10px 0px;
  }
  #menu-deroulant {
    display: flex;
    justify-content: space-around;
  }

  #menu-deroulant, #menu-deroulant ul {
    padding:0;
    margin:0;
    list-style:none;
    text-align:center;
  }
  #menu-deroulant li{
    display:inline-block;
    position:relative;
    border-radius:8px 8px 0 0;
  }
  #menu-deroulant ul li{
    display:inherit;
    border-radius:0;
  }
  #menu-deroulant ul li:hover{
    border-radius:0;
  }

  #menu-deroulantul li:last-child{
    border-radius:0 0 8px 8px;
  }

    #menu-deroulant ul{
    position:absolute;
    z-index: 1000;
    max-height:0;
    left: 0;
    right: 0;
    overflow:hidden;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
    }

    #menu-deroulant li:hover ul{
    max-height:15em;
    }

    .ligne {
      display:flex;
      align-items:center;
      justify-content:space-between;
    }
    .ligne :nth-child(1) {
      text-align: left;
      width: 80%;
    }
    header .logo {
      height:150px;
      width:auto;
      position:absolute;
    }
}
