
  html {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-style:normal;
    font-size:28px;
  }

  a {
    text-decoration: none;
    color:black;
  }

  header {
    background-color: white;
    padding:15px 0px;
    width: 100%;
    display:inline-flex;
    align-items: center;
    border-bottom:1px solid black;
    position: fixed;
    z-index: 20;
  }
  header .logo {
    margin-left: 50px;
    width: 120px;
    height:auto;
  }
  header h1 {
    display: none;
  }

  h1 {
    font-size: 48px;
    text-align: center;
    font-weight: bold;
  }

  h2 {
    font-size: 34px;
    margin-bottom:20px;
    font-weight:500;
    text-align: center;
  }

  h3 {
    font-size: 30px;
    padding:10px 0px;
    text-align: center;
    font-weight: 400;
  }
  h4 {
    font-size: 26px;
    text-align: center;
    font-weight: 400;
  }

  h5 {
    font-size: 20px;
  }
  footer {
    margin-top:50px;
  }

  .choixLangue {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 0px 10px;
  }

  .choixLangue > div{
    display:flex;
    flex-direction: column;
  }

  .center {
    display:flex;
    flex-direction:column;
    align-items:center;
  }
  .cadre {
    border: 2px solid #F0F0B8;
    background-color:#F7F7CE;
    padding:20px;
  }

  p {
    font-size:18px;
  }

  select {
    size:40px;
  }
  section {
    text-align:justify;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 300;
    font-size: 28px;
  }

  .call {
    color:white;
    background-color: #E95133;
    font-size: 60px;
    font-weight: bold;
    padding:10px;
    border:2px solid #e71c1c;
  }

  .accueilDeJour {
    display:flex;
    flex-direction:column;
  }
  .accueilDeJour h2 {
  margin-bottom:30px;
  }

  .listeCentre {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .listeAction {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
  }
  #map-wrap {
    height: 600px;
    width:100%;
  }
  .radio {
    width:50%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;

  }

  .row {
  		display:flex;
  		flex-direction:column;
      align-items: center;
      justify-content: space-between;
      margin:0px 0px;
  }
  fieldset .row {
    width:100%;
    font-size:26px;
    margin: 20px 0px;
  }


  .space-around {
  		display:flex;
  		flex-direction:row;
  		justify-content:space-around;
  }
  .space-between {
  		display:flex;
  		flex-direction:row;
  		justify-content:space-between;
      align-items:baseline;
      padding:0px 10px;
  }

  .mid {
    width:50%;
    display:flex;
    justify-content: center;
    align-items:center;
  }

  .row .cadre {
    width:100%;
    display:flex;
    flex-direction:row;
    height:300px;
    margin-bottom:20px;

  }

  .row .cadre div {
    width:50%;
    overflow: hidden;
  }

  .cadre img {
    height:300px;
  }
  .cadre .icon {
      height:56px;
      width:auto;
  }
  .cadre .orangeBorderButton {
    padding:10px 10px;
    font-size:20px;
  }

  .cadre p {
    padding:10px 10px 0 0;
  }

  .justify {
    text-align:justify;
  }

  main {
    width: 100%;
    position: absolute;
    top: 150px;
    z-index:1;
  }

  .association {
    display:flex;
    flex-direction:column;
    align-items:center;
    margin: 20px;
  }

  .align-center {
    align-items:center;
  }
  .rond {
    width:56px;
    height:auto;
  }
  .orangeBorderButton {
    color:#E95133;
    text-transform: uppercase;
    background: #F7F7CE;
    padding: 10px 20px;
    border:1px solid #E95133;
  }

  #goog-gt-tt {display:none;heigth:0px;}
  .goog-te-banner-frame.skiptranslate {
      display: none !important;
      }

  body {
      top: 0px !important;
      background-color: white;
  }

  .maraude {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .maraude .cadre {
    margin-bottom: 20px;
  }

  .infomaraude {
    padding:10px 0px;

  }
  .centreAccueil {
    color:black;
    width:90%;
    background: #F7F7CE;
    border: 2px solid #F0F0B8;
    display: flex;
    align-items: center;
    justify-content:center;
    height:300px;
    margin-bottom:100px;
    transition: 1s;
  }
  .centreAccueil p {
    text-align:center;
    padding-bottom:10px;
  }
  .trait {
    border-bottom: 3px solid #E95133;
    margin:20px auto;
    width:50%;
  }
  .centreAccueil h4 {
    font-size:26px;
  }
  .bandeau-orange {
    height:200px;
    background-color: #E95133;
    display: flex;
    justify-content: center;
    align-items:center;
    color:white;
  }

  .bandeau-blanc {
    height:200px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items:center;
  }
  .orangeButton {
    background-color: #E95133;
    padding:20px 20px;
    color:white;
    text-transform: uppercase;
    font-weight: 300;
    font-size:24px;
    border:2px solid #f54522;
    transition:0.5s;
  }
  .gestion div .orangeBorderButton {
    margin:10px 20px;
  }
  .listeAssociation .association .orangeBorderButton {
    margin-top: 20px;
  }

  .explication {
    padding:20px 20px 30px 20px ;
  }
  .explication img {
    width:100%;
    height:auto;
  }

  .map {
    width: 80%;
    margin:auto;
    padding:20px;
    background-color:#F7F7CE;
    -webkit-transition: padding 0.5s;
    margin-top: 40px;
  }
  .gestion {
    border: 2px solid #F0F0B8;
    background-color:#F7F7CE;
    display:flex;
    flex-direction:column;
    width:80%;
    margin-bottom: 10px;
  }
  .gestion .rond {
    border:3px solid #E95133;
    padding:20px;
    border-radius: 40px;
  }
  .gestion div {
    padding:20px 0px;
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
  }
  fieldset {
    margin: auto;
    width:80%;
    display:flex;
    flex-direction:column;
    text-align:left;
  }
  .row input {
    width:100%;
    font-size:26px;
    margin-top: 10px;
  }
  td, th {
    padding:10px 10px;
    font-size: 20px;
    border:1px solid black
  }
  table {
    text-align:center;
    margin:10px auto;
  }
  .services {
    text-align: center;
    width: 100%;
    margin:0 5%;
    display: grid;
    grid-template-columns:90%;
    grid-row-gap: 50px;
  }

@media screen and (min-width: 786px) {

  h1 {
    font-weight: 600;
    font-size: 42px;
  }

  li {
    width: 15%;
    font-size: 30px;
  }

  .infoAssociation {
    width: 60%;
    padding-right:50px;
  }
  .maraude {
    flex-direction:row;
  }
  .row {
    flex-direction:row;
  }
  .map:hover {
    padding:20px 80px;
    transition:0.5s;
    -webkit-transition: padding 0.5s;
  }

  .choixLangue > div {
    flex-direction: row;
    align-items: baseline;
    align-self: center;
  }

  .deco p {
    margin-right:20px;
    font-size:30px;
    font-weight: 400;
  }

  input[type="file"] {
    padding-top:5px;
  }

  .mesCentres {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    margin-top:20px;
    width: 100%;
  }
  .mesCentres img {
    width: 60%;
    height:auto;
  }

    .row input {
      width:50%;
      font-size:26px;
    }
    form {
      display:flex;
      justify-content:center;
    }
    fieldset {
      width:50%;
      display:flex;
      flex-direction:column;
      text-align:center;
      align-items:center;
    }
    fieldset > legend {
      font-size:30px;
      font-weight:500;
    }
    .gestion {
      display:flex;
      flex-direction:column;
      width:40%;
    }
    .gestion .rond {
      border:3px solid #E95133;
      padding:20px;
      border-radius: 40px;
    }
    .gestion div {
      padding:20px 0px;
      display:flex;
      justify-content: space-around;
      flex-wrap:wrap;
    }

    .wrap {
      display:flex;
      flex-direction:row;
      flex-wrap:wrap;
    }

    .infomaraude p {
      padding:5px;
    }
    .centreAccueil {
      width: 40%;
    }

    .centreAccueil:hover {
      padding:30px 0px;
      background-color: #F0F0B8;
      -webkit-transition: padding 0.5s;
    }

    .orangeBorderButton:hover {
      background-color: #F0F0B8;
      transition:0.3s;
    }
    .orangeButton:hover {
      background-color: #f54522;
      transition:0.5s;
    }

    .whiteButton {
      margin-top:20px;
    }

    .listeAssociation {
      width:100%;
      display:flex;
      flex-direction:row;
      flex-wrap:wrap;
    }
    .listeAssociation .association {
      flex:auto;
      padding:20px;
    }

    .explication {
      border-right:3px solid #E95133;
      margin-right:30px;
    }

    .explication h1, .explication section {
      text-align: right;
      padding-right: 0px;
    }
    .row .cadre {
      width:40%;
    }
    main {
      top:200px;
    }
    .gestion {
      width:40%;
      margin-bottom:30px;
    }

    header h1 {
      font-size:60px;
      display:block;
      margin-left:70px;
      border-left:5px solid #E95133;
      padding:10px;
      font-weight:500;
    }
    .infoCentre {
      width: 90%;
      margin:auto;
      display: grid;
      grid-template-columns:30% 30% 30%;
      grid-column-gap: 5%;
      grid-row-gap: 50px ;
    }
    .monCentre {
      grid-row: 1 / 3;
      text-align: center;
    }
    .monCentre p {
      margin-bottom:10px;
    }
    .padding10 {
      padding: 10px;
    }
    .mesCentres img {
      width: auto;
    }
    .services {
      grid-template-columns: 40% 40%;
      grid-column-gap: 10%;
    }
}
